.img {
	border-radius:50%;
	height:150px;
	width:150px;
	clear:both;
}
.maininfo {
	  margin-left:200px;
	margin-top:-150px;
	background-color:gray;
	border:solid 3px black;  
}
.maininfo:hover{
	background-color:lightblue;
}
.title1{
	border-bottom:solid 5px black;
	clear: both;
}
.expertise p {
	border:1px solid border;
	border-radius:8px;
	float:left;
	width:200px;
	height:50px;
	background-color:lightblue;
	margin-left:20px;
	margin-top:20px;
	text-align:center;
	padding-top: 10px;
}
.expertise p:hover{
	background-color: pink;

}

.info:hover {
	background-color: gray;     
}
.icon{
	width:100px;
	height:55px;
}
.icon:hover{
	background-color:gray;
}